h1{
    text-transform: uppercase;
    color: white;
    background-color: #ce8540;
    font-family: SANS-SERIF;
}
img{
    width: 35%;
    float:left;
    margin-left: 400px;
}
.valores{
    float: left;
    margin-left: 100px;
}

p#error{
    background-color: red;
    color: white;
    display: none;
}
#txta{
   display: none;
}